Package: com.nilsh.sshtoggle
Name: sshToggle
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 1.0
Architecture: iphoneos-arm
Description: A module that adds a SSH toggle to your Control center. This tweak will change the contents of /etc/ssh/sshd_config and thus set the write bit for others. Before installing it will create a backup of /etc/ssh/sshd_config in /etc/ssh/sshd_config.bak. When uninstalling, it will automatically restore the backup. Also note this will NOT disable ssh. This just disables/enables the root login.
Maintainer: Nils
Author: Nils Hartmann
Section: Control Center (Modules)
